* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
}

.img-perfil {
    width: 450px;
    height: 400px;
    margin-right: 50px;
}

.card-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }